# Ignore everything
/*
!/utils/
!/.gitignore
!/LICENSE
!/main.go
!/README.md
!/gradle/
!/build.gradle
!/gradlew
!/gradlew.bat
!/versioninfo.json
!/resource.syso
!/icon.ico
!/Jenkinsfile
!/gradle.properties
!/icon.icns
!/appify
!/Info.plist
!/makeApp.sh
!/version.go
/utils/version.go.old
!/libs/
